/* --------------- Fonts --------------- */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* --------------- Root Vars --------------- */
:root {
   /* https://materialui.co/flatuicolors */
   --pomegranate: #C0392B;
   --pomegranate-bg: url(/images/pomegranate.svg);
   --pumpkin: #D35400;
   --pumpkin-bg: url(/images/pumpkin.svg);
   --carrot: #E67E22;
   --carrot-bg: url(/images/carrot.svg);
   --orange: #F39C12;
   --orange-bg: url(/images/carrot.svg);
   --sunflower: #F1C40F;
   --sunflower-bg: url(/images/sunflower.svg);
   --emerland: #2ECC71;
   --emerland-bg: url(/images/emerland.svg);
   --nephritis: #27AE60;
   --nephritis-bg: url(/images/nephritis.svg);
   --greensea: #16A085;
   --greensea-bg: url(/images/greensea.svg);
   --belizehole: #2980B9;
   --belizehole-bg: url(/images/belizehole.svg);
   --peterriver: #3498DB;
   --peterriver-bg: url(/images/belizehole.svg);
   --amethyst: #9B59B6;
   --amethyst-bg: url(/images/wisteria.svg);
   --wisteria: #8E44AD;
   --wisteria-bg: url(/images/wisteria.svg);
   --wetasphalt: #34495E;
   --wetasphalt-bg: url(/images/midnightblue.svg);
   --asbestos: #7F8C8D;
   --asbestos-bg: url(/images/asbestos.svg);
   --silver: #BDC3C7;
   --silver-bg: url(/images/silver.svg);
   /* Main Colors */
   --theme: var(--belizehole);
   --theme-bg: var(--belizehole-bg);
   --gloss-bg: #ECF0F199;
   --white: #ECF0F1;
   /* Fixed Spacings */
   --navbar-height: calc(1rem + 3px + .5rem + 1em + .5rem + 3px + 1rem + 3px);
   --body-height: calc(100vh - var(--navbar-height) - 1rem * 2);
   --header-height: calc(0.5rem + 0.5rem + 1em + 0.5rem + 0.5rem + 2px);
   --emails-height: calc(var(--body-height) - var(--header-height) - var(--footer-height));
   --footer-height: calc(2px + 0.5rem + 1em + 0.5rem + 10px);
   --sidebar-width: 15rem;
   --compose-input: calc(.5rem + 1em + .5rem + 1px);
   --compose-margin-top: calc(1rem + 1em + 1rem + 2px + var(--compose-input) * 2);
   --compose-footer-height: calc(2px + .5rem + .5rem + 1em + .5rem + .5rem);
   --compose-text-height: calc(100% - var(--compose-margin-top) - var(--compose-footer-height));
}

/* --------------- Custom Themes --------------- */
body.pomegranate-theme { --theme: var(--pomegranate); --theme-bg: var(--pomegranate-bg) }
body.pumpkin-theme { --theme: var(--pumpkin); --theme-bg: var(--pumpkin-bg) }
body.carrot-theme { --theme: var(--carrot); --theme-bg: var(--carrot-bg) }
body.orange-theme { --theme: var(--orange); --theme-bg: var(--orange-bg) }
body.sunflower-theme { --theme: var(--sunflower); --theme-bg: var(--sunflower-bg) }
body.emerland-theme { --theme: var(--emerland); --theme-bg: var(--emerland-bg) }
body.nephritis-theme { --theme: var(--nephritis); --theme-bg: var(--nephritis-bg) }
body.greensea-theme { --theme: var(--greensea); --theme-bg: var(--greensea-bg) }
body.belizehole-theme { --theme: var(--belizehole); --theme-bg: var(--belizehole-bg) }
body.peterriver-theme { --theme: var(--peterriver); --theme-bg: var(--peterriver-bg) }
body.amethyst-theme { --theme: var(--amethyst); --theme-bg: var(--amethyst-bg) }
body.wisteria-theme { --theme: var(--wisteria); --theme-bg: var(--wisteria-bg) }
body.wetasphalt-theme { --theme: var(--wetasphalt); --theme-bg: var(--wetasphalt-bg) }
body.asbestos-theme { --theme: var(--asbestos); --theme-bg: var(--asbestos-bg) }
body.silver-theme { --theme: var(--silver); --theme-bg: var(--silver-bg) }

/* --------------- Custom Scrollbar --------------- */
::-webkit-scrollbar { width: 8px }
::-webkit-scrollbar-track { margin-block: 5px }
::-webkit-scrollbar-thumb {
   background: var(--theme);
   border-radius: 8px;
}

/* --------------- Body --------------- */
* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: 'Rubik', sans-serif;
}

body {
   display: grid;
   overflow: hidden;
   height: 100vh;
}

/* --------------- Text Properties --------------- */
.bold { font-weight: bold }
.italic { font-style: italic }
.underline { text-decoration: underline }

/* --------------- No Photo Drag --------------- */
img {
   -webkit-user-drag: none;
   -khtml-user-drag: none;
   -moz-user-drag: none;
   -o-user-drag: none;
}

/* --------------- No Next Highlight --------------- */
.no-select {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* --------------- Theme Selection Popup --------------- */
div#color-container {
   position: fixed;
   display: none;
   height: 100%;
   width: 100%;
   align-items: center;
   justify-content: center;
   background: var(--gloss-bg);
   backdrop-filter: blur(10px);
}
div#color-container.show { display: flex }

div#color-wrapper {
   padding: 20px;
   text-align: center;
   background: var(--white);
   border-radius: 10px;
}

span#color-name {
   font-size: 1.5em;
   text-transform: capitalize;
}

div#color-selection { margin-top: 10px }
div#color-selection i {
   font-size: 50px;
   -webkit-text-stroke: 1px #000;
   margin-right: 5px;
   cursor: pointer;
}

/* --------------- Loading Cover-Up --------------- */
div#loading-wait {
   position: fixed;
   height: 100vh;
   width: 100vw;
   background: var(--theme);
   opacity: 0;
   transition: ease-out .5s;
   z-index: 100;
}
div#loading-wait.show { opacity: 1 }

lord-icon {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)  scale(120%);
   opacity: 0;
   transition: ease-out .5s;
}

lord-icon.show {
   transform: translate(-50%, -50%);
   opacity: 1;
}
