/* --------------- Header Container --------------- */
header {
   display: flex;
   position: fixed;
   width: 100%;
   padding: 0 4rem;
   justify-content: space-between;
   background: var(--gloss-bg);
   backdrop-filter: blur(3px);
   z-index: 1;
}

/* --------------- Header Section --------------- */
header .header-section {
   display: flex;
   padding: 1rem;
   gap: 1rem;
   align-items: center;
   justify-content: center;
}

/* --------------- Logo --------------- */
#header-logo a {
   font-size: 2em;
   font-family: 'Cubano';
   font-weight: 700;
   color: var(--theme);
   text-decoration: none;
}

/* --------------- Forms --------------- */
#header-form a {
   font-size: 1em;
   color: var(--theme);
   padding: .5rem 1rem;
   border: 3px solid var(--theme);
   border-radius: 2rem;
   text-decoration: none;
   transition: all .3s;
}
#header-form a:hover {
   background: var(--theme);
   color: var(--white);
   cursor: pointer;
}

#header-form a i { padding-left: 2px }
