/* --------------- Body --------------- */
body {
   background-image: var(--theme-bg);
   background-size: 100%;
   background-position: bottom;
}

/* --------------- Side Bar --------------- */
aside {
   position: absolute;
   height: calc(100vh - var(--navbar-height) - 1rem * 2);
   width: var(--sidebar-width);
   margin-top: calc(var(--navbar-height) + 1rem);
}

div#compose {
   display: flex;
   width: fit-content;
   margin: 0 0 1rem .5rem;
   padding: 1rem 1.5rem;
   background: var(--white);
   border-radius: 1rem;
   color: var(--theme);
   transition: .2s;
}
div#compose:hover {
   background: var(--gloss-bg);
   box-shadow: 2px -2px var(--theme),
               2px 2px var(--theme),
               -2px 2px var(--theme),
               -2px -2px var(--theme);
   cursor: pointer;
}

ul#sidebar-content { list-style: none }
li.sidebar-option {
   display: flex;
   padding-left: 2rem;
   padding-block: .3rem;
   border-radius: 0 1rem 1rem 0;
   transition: .2s;
}

li.selected,
li:hover {
   background: var(--gloss-bg);
   cursor: pointer;
}
li.selected { font-weight: bold }

div.sidebar-icon {
   width: 1rem;
   text-align: center;
   margin-right: .5rem;
}

/* --------------- Inbox --------------- */
div#body-container {
   height: var(--body-height);
   width: calc(100vw - var(--sidebar-width) - 1rem - 1rem);
   margin-top: calc(var(--navbar-height) + 1rem);
   margin-left: calc(var(--sidebar-width) + 1rem);
   background: var(--gloss-bg);
   border-radius: 1rem;
   overflow-y: hidden;
}

div.body-view { display: none }
div.body-view.show { display: unset }

div#body-header {
   display: flex;
   justify-content: space-between;
   margin-bottom: 2px;
   padding: .5rem 1rem;
   box-shadow: 0 2px var(--theme);
   border-radius: 1rem 1rem 0 0;
}

div.body-header-section { display: flex }
div.body-header-section div { padding: .5rem .6rem }

div.header-btn {
   display: none;
   border-radius: 2rem;
   transition: .2s;
}
div.header-btn.show { display: unset }
div.header-btn:hover {
   background: var(--gloss-bg);
   cursor: pointer;
}

span#trash-confirm {
   display: none;
   padding: .5rem;
}
span#trash-confirm.show { display: unset }
span#trash-confirm i.fa-square-check {
   padding-left: .5rem;
   color: var(--nephritis);
}
span#trash-confirm i.fa-square-xmark {
   padding-left: .2rem;
   color: var(--pomegranate);
}
span#trash-confirm i:hover { cursor: pointer }

div#trash-confirm-check { color: var(--nephritis) }
div#trash-confirm-cross { color: var(--pomegranate) }

div#body-emails {
   height: var(--emails-height);
   overflow-y: auto;
}
div#body-emails.overflow {
   margin-right: 5px;
   padding-right: 5px;
}

div.email {
   display: flex;
   padding: .5rem 1.5rem;
   transition: .2s;
}
div.email:hover {
   box-shadow: 0 2px var(--theme);
   cursor: pointer;
}

div.email.unread { font-weight: bold }
span.email-text { font-weight: normal }

div.email-star,
div.email-trash {
   margin-right: 1rem;
   border-radius: 1rem;
   color: var(--asbestos);
   transition: .2s;
}
div.email-star:hover i,
div.email-trash:hover i { color: #000 }
div.email-star i.fa-solid { color: var(--theme) }

div.email-recipients,
div.email-content,
div.email-date {
   height: 1.25em;
   overflow: hidden;
}

div.email-recipients {
   width: 13.5rem;
   padding-right: 1.5rem;
}
div.email-content { width: calc(100% - 2rem - 13.5rem - 5rem) }
div.email-date {
   width: 5rem;
   text-align: right;
}

div#body-footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 2px;
   padding: .5rem 1rem;
   box-shadow: 0 -2px var(--theme);
   border-radius: 0 0 1rem 1rem;
}
div#body-footer i { margin-right: 2px }

span.links-separator { margin-inline: 5px }

div#footer-links a {
   text-decoration: none;
   color: #000;
   transition: .2s;
}
div#footer-links a:hover { color: var(--theme) }

div#footer-credits i { font-size: 0.8em }

/* --------------- Compose View --------------- */
div#new-message {
   display: flex;
   margin-bottom: 2px;
   padding: 1rem 1.6rem;
   box-shadow: 0 2px var(--theme);
   border-radius: 1rem 1rem 0 0;
}

div.input-container {
   margin-inline: 1.6rem;
   margin-bottom: 1px;
   box-shadow: 0 1px var(--theme);
}

div#mail-text {
   /* FIXME: height: calc(100% - var(--compose-margin-top)); */
   margin-inline: 1.6rem;
}
div#mail-text textarea {
   /* Remove default style */
   appearance: none;
   resize: none;
   border: 0;
   background: transparent;
   /* End */
   height: 100%;
   width: 100%;
   padding: .5rem 5px .5rem 0;
   overflow-y: auto;
}

div#compose-view input {
   /* Remove default style */
   appearance: none;
   border: 0;
   background: transparent;
   /* End */
   height: 100%;
   width: 100%;
   padding-block: .5rem;
}
div#compose-view input::placeholder { color: #000 }
