/* --------------- Body --------------- */
body {
   background-image: var(--theme-bg);
   background-size: 100%;
   background-position: bottom;
}

div#body-container {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

/* --------------- Watermark and Slogan --------------- */
div#watermark h1,
div#watermark h4 {
   font-family: 'Cubano';
   color: var(--white);
}
div#watermark h1 { font-size: 6em }
div#watermark h4 {
   font-size: 2em;
   padding-left: .08em;
}

/* --------------- Auth Forms --------------- */
div.auth-form {
   width: 25vw;
   display: none;
   padding: 20px;
   background: var(--gloss-bg);
   border-radius: 10px;
   border: 3px solid var(--white);
}
div.auth-form.show { display: grid }

div.auth-form input {
   width: 100%;
   padding: 3px 8px;
   border: 2px solid #000;
   border-radius: 3px;
   margin-block: 5px 10px;
   transition: .2s;
}
div.auth-form input:focus { border: 2px solid var(--theme) }

/* --------------- Email Container --------------- */
div.email-container { position: relative }
div.auth-form input[name="login-email"],
div.auth-form input[name="reg-email"] { padding: 3px 125px 3px 8px }

div.email-container span.email-suffix {
   position: absolute;
   top: 8px;
   right: 10px;
   color: #000;
   pointer-events: none;
}

/* --------------- Password Container --------------- */
div.psw-container { position: relative }
div.auth-form input[type="password"] { padding: 3px 32px 3px 8px }

div.psw-container span.toggle-password {
   position: absolute;
   top: 8px;
   right: 10px;
   color: #000;
   cursor: pointer;
}
div.psw-container span.toggled { color: var(--theme) }

/* --------------- Customize Theme Button --------------- */
div.auth-form span.customize-theme {
   cursor: pointer;
   transition: .2s;
}
div.auth-form span.customize-theme:hover { color: var(--theme) }

/* --------------- Submit Button --------------- */
div.auth-form input[type="submit"] {
   padding: 3px 8px;
   background: transparent;
   border: 2px solid #000;
   border-radius: 3px;
   margin-block: 0;
   font-family: 'Rubik', sans-serif;
   cursor: pointer;
   transition: .2s;
}
div.auth-form#register input[type="submit"] { margin-top: 10px }
div.auth-form input[type="submit"]:hover,
div.auth-form input[type="submit"]:focus { background: var(--theme) }

div.auth-form input[disabled]:hover { cursor: not-allowed }

/* --------------- Flags Box --------------- */
div.auth-form div.label-container {
   display: flex;
   justify-content: space-between;
}

div.label-container span.flag { color: var(--pomegranate) }
div.label-container span.flag.blue { color: var(--belizehole) }
div.label-container span.flag.green { color: var(--greensea) }
div.label-container span.flag.orange { color: var(--orange) }

/* --------------- Switch Form Button --------------- */
div#login-register {
   width: 25vw;
   margin-top: 10px;
   justify-content: center;
   display: grid;
   padding: 10px 20px;
   background: var(--gloss-bg);
   border-radius: 10px;
   border: 3px solid var(--white);
}
div#login-register a {
   color: var(--theme);
   cursor: pointer;
}
div#login-register a:hover { border-bottom: 2px solid var(--theme) }
